.items-container {
    display: flex;
    justify-content: space-around;
  }
  
  .item-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 40%;
  }
  
  .item-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .item-text-list {
    list-style-type: none;
    padding: 0;
  }
  
  .item-text-list li {
    margin-bottom: 5px;
  }
  
  .item-tick-icon {
    color: green;
    margin-right: 8px;
  }
  