.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}


.skill-box {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 20px;
  width: 16rem;

  h2 {
    text-align: center;
  }
}

.skill-box-content {
  display: flex;
  justify-content: space-between;

}

.text-item {
  display: flex;
  align-items: center;
  margin: 5px 0;

}

.text-item svg {
  margin-right: 5px;
}