.skill-title {
  text-align: center;

  h3 {
    padding-bottom: 1rem;
    margin-top: -1rem;
  }
}



.skill-container {
  display: flex;
  justify-content: space-around;
  padding: 2px;
  gap: -200px;
}